In [1]:
%reload_ext autoreload
%autoreload 2


#This is needed to add the repo dir to the path so jupyter
# can load the republic modules directly from the notebooks
import os
import sys
import re
sys.path.append('/Users/rikhoekstra/develop/republic_clean/')

# from collections import defaultdict
import pandas as pd
from collections import Counter, defaultdict
import json
# import republic.model.republic_document_model as rdm

repo_dir = os.path.split(os.getcwd())[0]

if repo_dir not in sys.path:
    sys.path.append(repo_dir)
    
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [2]:
import pandas as pd

In [3]:
webregent = pd.read_sql_table(con="mysql+pymysql://rik:X0chi@localhost/raa_web", table_name='regent')

In [53]:
newregent = pd.read_sql_table(con="mysql+pymysql://rik:X0chi@localhost/raa_nw", table_name='persoon')

In [54]:
newregent.columns

Index(['geslachtsnaam', 'tussenvoegsel', 'voornaam', 'adel', 'adelspredikaat',
       'heerlijkheid', 'geboortejaar', 'overlijdensjaar', 'opmerkingen',
       'periode', 'eindcontrole', 'geboortedag', 'geboortemaand', 'doopjaar',
       'geboorteplaats', 'overlijdensdag', 'overlijdensmaand',
       'overlijdensplaats', 'id', 'geboortedatum', 'overlijdensdatum',
       'searchable', 'academischetitel_id', 'adellijketitel_id', '1', '2', '3',
       '4', '5'],
      dtype='object')

In [55]:
webregent.columns

Index(['id', 'heerlijkheid', 'adelspredikaat', 'voornaam', 'tussenvoegsel',
       'geslachtsnaam', 'geboortejaar', 'geboortejaar_als_bekend',
       'overlijdensjaar', 'overlijdensjaar_als_bekend', 'adellijketitel_id',
       'academischetitel_id'],
      dtype='object')

In [75]:
cols = ['geslachtsnaam','tussenvoegsel','voornaam','heerlijkheid']

In [124]:
nr = newregent.copy()
wr = webregent.copy()
for c in cols:
    for r in [nr, wr]:
        r[c] = r[c].astype(str)
        r[c] = r[c].str.replace('None','')
        r[c] = r[c].str.strip()

0       AerssenvanVosholvanCornelisVoshol
1                       FremerydeNicolaas
2                     ThileniusJanAbraham
3                MeervanderJacobHoogeveen
4               JosseletCoenraadHendriksz
                      ...
7984                            KingmaJan
7985         HagedoornHermannusGijsbertsz
7986                  BlomvanAssendelftCJ
7987                                KoolJ
7988                 HaersmavanArentAulus
Name: concat, Length: 7989, dtype: object

In [144]:
for r in [nr, wr]:
    r['concat'] = r[cols].agg(''.join,axis=1)
    r['concat'] = r['concat'].str.replace('\W','',regex=True)

In [145]:
wr['concat']

0       AerssenvanVosholvanCornelisVoshol
1                       FremerydeNicolaas
2                     ThileniusJanAbraham
3                MeervanderJacobHoogeveen
4               JosseletCoenraadHendriksz
                      ...
7984                            KingmaJan
7985         HagedoornHermannusGijsbertsz
7986                  BlomvanAssendelftCJ
7987                                KoolJ
7988                 HaersmavanArentAulus
Name: concat, Length: 7989, dtype: object

In [146]:
nr

,geslachtsnaam,tussenvoegsel,voornaam,adel,adelspredikaat,heerlijkheid,geboortejaar,overlijdensjaar,opmerkingen,periode,...,overlijdensdatum,searchable,academischetitel_id,adellijketitel_id,1,2,3,4,5,concat
0,Röell,,Willem Frederik,1,None,,1767.0,1835.0,Adelspredicaat: 1815/adelstitel: 1819.\r\nOver...,2,...,1835-12-31,Röell,5.0,0.0,0,0,1,0,0,RöellWillemFrederik
1,Mollerus,,Johan Hendrik,1,None,Westkerke en Wulpendaal,1750.0,1834.0,Adelspredicaat: 1816/adelstitel: 1820.\r\nOver...,2,...,1834-12-31,Mollerus,4.0,0.0,0,0,1,0,0,MollerusJohanHendrikWestkerkeenWulpendaal
2,Lodewijk Napoleon,,,0,None,,1778.0,1846.0,None,2,...,1846-12-31,Lodewijk Napoleon,NaN,NaN,0,0,1,0,0,LodewijkNapoleon
3,Crommelin,van Wickevoort,Jan Pieter,0,None,,1763.0,1837.0,None,2,...,1837-12-31,van Wickevoort Crommelin,4.0,NaN,0,0,1,0,0,CrommelinvanWickevoortJanPieter
4,Appelius,,Jean Henry,0,None,,1767.0,1828.0,Overig: na 13 februari 1807 was Appelius zowel...,2,...,1828-12-31,Appelius,4.0,NaN,0,0,1,0,0,AppeliusJeanHenry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47320,"Essen tot Helbergen, Schaffelaer en Abbenbroek",van,Lucas Willem,1,None,"Helbergen en Schaffelaar, Abbenbroek",1739.0,1791.0,Persoonsgegevens: Nederlandsche Leeuw geeft ge...,1,...,1791-09-23,"van Essen tot Helbergen, Schaffelaer en Abbenb...",NaN,NaN,0,1,0,0,0,EssentotHelbergenSchaffelaerenAbbenbroekvanLuc...
47321,Haersolte tot Staveren,van,Antony Frederik Robbert Evert,1,None,Staveren,1756.0,1830.0,Ridderschap: geadmitteerd ad audiendum.,1,...,1830-07-14,van Haersolte tot Staveren,NaN,0.0,0,1,0,0,0,HaersoltetotStaverenvanAntonyFrederikRobbertEv...
47322,Riemsdijck,van,Dirck,0,None,,NaN,1684.0,Persoonsgegevens: overleden voor 17 april 1684.,1,...,1684-12-31,van Riemsdijck,NaN,NaN,0,1,0,0,0,RiemsdijckvanDirck
47323,Teschemaker,,Johan,0,None,,NaN,NaN,Persoonsgegevens: Hormann geeft overlijden 12 ...,1,...,None,Teschemaker,NaN,NaN,0,1,0,0,0,TeschemakerJohan
47324,Drept,van der,Jan Jansz.,0,None,,NaN,NaN,Persoonsgegevens: overleden in de jaren 1650.,1,...,None,van der Drept,NaN,NaN,0,1,0,0,0,DreptvanderJanJansz

In [147]:
m = nr.merge(wr, left_on='concat', right_on='concat', how='right', suffixes=['_nr','_wr'])

In [148]:
m

,geslachtsnaam_nr,tussenvoegsel_nr,voornaam_nr,adel,adelspredikaat_nr,heerlijkheid_nr,geboortejaar_nr,overlijdensjaar_nr,opmerkingen,periode,...,adelspredikaat_wr,voornaam_wr,tussenvoegsel_wr,geslachtsnaam_wr,geboortejaar_wr,geboortejaar_als_bekend,overlijdensjaar_wr,overlijdensjaar_als_bekend,adellijketitel_id_wr,academischetitel_id_wr
0,Aerssen van Voshol,van,Cornelis,1.0,None,Voshol,1698.0,1766.0,Heerlijkheden/adellijke huizen: verwerving 1719.,1.0,...,None,Cornelis,van,Aerssen van Voshol,1698-01-01,1698,1766-12-31,1766,NaN,NaN
1,Aerssen van Voshol,van,Cornelis,1.0,None,Voshol,1698.0,1766.0,Heerlijkheden/adellijke huizen: verwerving 1719.,1.0,...,None,Cornelis,van,Aerssen van Voshol,1698-01-01,1698,1766-12-31,1766,NaN,NaN
2,Aerssen van Voshol,van,Cornelis,1.0,None,Voshol,1698.0,1766.0,Heerlijkheden/adellijke huizen: verwerving 1719.,1.0,...,None,Cornelis,van,Aerssen van Voshol,1698-01-01,1698,1766-12-31,1766,NaN,NaN
3,Fremery,de,Nicolaas,0.0,None,,1719.0,1784.0,None,1.0,...,None,Nicolaas,de,Fremery,1719-01-01,1719,1784-12-31,1784,NaN,NaN
4,Fremery,de,Nicolaas,0.0,None,,1719.0,1784.0,None,1.0,...,None,Nicolaas,de,Fremery,1719-01-01,1719,1784-12-31,1784,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26659,Haersma,van,Arent Aulus,0.0,None,,1762.0,1803.0,Overig: op 9 maart 1799 werd Van Haarsma benoe...,9.0,...,None,Arent Aulus,van,Haersma,1702-01-01,1702,1737-12-31,1737,NaN,NaN
26660,Haersma,van,Arent Aulus,0.0,None,,1702.0,1737.0,None,9.0,...,None,Arent Aulus,van,Haersma,1702-01-01,1702,1737-12-31,1737,NaN,NaN
26661,Haersma,van,Arent Aulus,0.0,None,,1762.0,1803.0,Overig: op 9 maart 1799 werd Van Haarsma benoe...,2.0,...,None,Arent Aulus,van,Haersma,1702-01-01,1702,1737-12-31,1737,NaN,NaN
26662,Haersma,van,Arent Aulus,0.0,None,,1762.0,1803.0,Overig: op 9 maart 1799 werd Van Haarsma benoe...,9.0,...,None,Arent Aulus,van,Haersma,1702-01-01,1702,1737-12-31,1737,NaN,NaN
26663,Haersma,van,Arent Aulus,0.0,None,,1702.0,1737.0,None,9.0,...,None,Arent Aulus,van,Haersma,1702-01-01,1702,1737-12-31,1737,NaN,NaN

In [149]:
concordance = m.loc[m['id_nr'].notna()][['id_nr','id_wr']].drop_duplicates('id_wr')

In [150]:
m.loc[m['id_nr'].isna()]['concat']

114            TwentvanGelÃAbrahamCatharinusKortenbosch
208                    BoogertFranÃoisFranÃoiszFranÃois
281                             OostenvanGabriÃlLeonard
366                       BrandelervandenJohanFranÃoisz
415             BurchvanderJohanFranÃoiszNiemandsvriend
                              ...
26446                                     BlocqdeDaniÃl
26447    BÃnninghausentotDarupvonClemensMariaFranciscus
26469                     JannessonSÃbastienLouisJoseph
26494                                DucelliÃEverhardus
26648                               BlomvanAssendelftCJ
Name: concat, Length: 495, dtype: object

In [90]:
m.loc[m.id_nr.isna()][[c+'_wr' for c in cols]+['concat','id_wr']].drop_duplicates(['geslachtsnaam_wr'])

,geslachtsnaam_wr,tussenvoegsel_wr,voornaam_wr,heerlijkheid_wr,concat,id_wr
6,Thilenius,None,Jan Abraham,,ThileniusNoneJan Abraham,3
13,Josselet,None,Coenraad Hendriksz.,,JosseletNoneCoenraad Hendriksz.,5
23,Rendorp,None,Joachim,Marquette,RendorpNoneJoachimMarquette,9
24,Dedel,None,Abraham,,DedelNoneAbraham,10
28,Beelaerts,None,Gerard,Blokland en Wieldrecht en Dortsmonde,BeelaertsNoneGerardBlokland en Wieldrecht en D...,12
...,...,...,...,...,...,...
15671,Romswinckel,None,Joost,,RomswinckelNoneJoost,7970
15672,Spijkermans,None,A.,,SpijkermansNoneA.,7971
15673,Tonneboeijer,None,Jacob,,TonneboeijerNoneJacob,7972
15698,Cuylenburg,None,Johannes,,CuylenburgNoneJohannes,7981
15709,Blom van Assendelft,None,C.J.,,Blom van AssendelftNoneC.J.,7987

In [151]:
from pylcs import levenshtein_distance
def score_lcsr(term1, term2):
    max_distance = max(len(term1),len(term2))
    distance = levenshtein_distance(term1, term2)
    return 1 - distance / max_distance

In [ ]:
def srch2df(skipgramsearcher=None, 
            lst=[], 
            dataframe=None, 
            src_column='', 
            target_column='', 
            threshold=0.5):
    df=dataframe
    res = {w:skipgramsearcher.rank_similar(w) for w in lst}
    redux_res = multiples_to_single(res, threshold=threshold)
    rr = {k:v[0] for k,v in redux_res.items()}
    df[target_column] = df[src_column].map(rr)
    df[[f'{target_column}_loc', f'{target_column}_score']] = df[target_column].apply(pd.Series)
    return df

In [71]:
mask = newregent['geslachtsnaam'].str.len()\
                 .ne(newregent['geslachtsnaam'].str.encode('ascii',errors = 'ignore').str.len())

In [73]:
new_nonasci = newregent[mask]

In [63]:
ascimasc = metnaam.geslachtsnaam.str.contains('RoÃ«ll',regex=True)

In [64]:
ascimasc

0        False
1        False
2        False
3        False
4        False
         ...
12093    False
12094    False
12095    False
12096    False
12097    False
Name: geslachtsnaam, Length: 12097, dtype: bool

In [65]:
metnaam[ascimasc]

,id,adel,heerlijkheid,voornaam,tussenvoegsel,geslachtsnaam,searchable_geslachtsnaam,geboortedatum,geboortedatum_als_bekend,geboorteplaats,doopjaar,overlijdensdatum,overlijdensdatum_als_bekend,overlijdensplaats,adellijketitel_id,academischetitel_id,opmerkingen
12091,12092,0,,Dionysius Andreas,None,RoÃ«ll,RoÃ«ll,1689-01-01,1689,None,0,1733-12-31,1733,None,NaN,NaN,Overig: was hoogleraar wijsbegeerte aan het De...

In [57]:
metnaam = webregent.loc[webregent.geslachtsnaam.notna()]

In [66]:
mask = webregent['geslachtsnaam'].str.len()\
                 .ne(webregent['geslachtsnaam'].str.encode('ascii',errors = 'ignore').str.len())

In [68]:
nonascii = webregent.loc[mask]

In [95]:
nonascii['nas'] = nas

In [82]:
nas = nonascii.geslachtsnaam.str.encode('ascii', 'ignore').str.decode('ascii',errors='')

In [81]:
nns = new_nonasci.geslachtsnaam.str.encode('ascii', 'ignore').str.decode('ascii')

In [92]:
new_nonasci['nns'] = nns

In [86]:
pd.DataFrame(nns).merge(pd.DataFrame(nas))

           geslachtsnaam
0                   Rell
1                   Rell
2                   Rell
3                   Rell
4                   Rell
..                   ...
641                 Nere
642                 Nere
643            Prvinaire
644                Honor
645  Brutel de la Rivire

[646 rows x 1 columns]

In [98]:
nonascii.merge(new_nonasci, left_on='nas',right_on='nns',how='outer').to_csv('/Users/rikhoekstra/surfdrive/Republic/controle_asci_regent',sep='\t')